body {
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
=======
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
>>>>>>> ee5cc8f23b084fbc783b465edf77d281427d565c
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#sideHustleLogo {
  margin-bottom: 1.56rem;
}
.search {
  text-align: center;
  border: #dfe1e5 1px solid;
  font-size: 1.5em;
  border-radius: 25px;
  padding: 0.63rem;
  width: 500px;
  box-shadow: 0 0 0 0 #dfe1e5;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  margin: 0 auto;
}
input {
  width: 80%;
  border: none;
  outline: none;
}
.search:hover,
.search:active,
.search:focus {
  box-shadow: 0 0.13rem 0.45rem 0 #dfe1e5;
}

.search-buttons {
  margin-top: 1.6rem;
}

button {
  font-size: 0.88rem;
  padding: 0.45rem 0.95rem;
  background-color: #f0f0f0;
  color: #585858;
  border: none;
  border-radius: 0.25rem;
  border: transparent 1px solid;
  transition-property: border;
  transition-duration: 0.25s;
}

button:hover {
  border: #585858 1px solid;
}
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
>>>>>>> ee5cc8f23b084fbc783b465edf77d281427d565c
